footer {
  background-color: black;
  color: white;
  font-size: map-get($font-sizes, large);
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: flex-end;
  clear: both;

  margin-top: 10px;
  font-family: map-get($font-family, estilo4);
  @media (max-width: 576px) {
    font-size: map-get($font-sizes, normal);
  }
}
