header {
  img {
    padding: 3px;
  }
  .navbar-toggler {
    color: map-get($color, color-white);
  }
  .collapse {
    font-family: map-get($font-family, estilo1);
  }

  .imagenes-contacto {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    flex-direction: row;
    margin: 1rem;

    a {
      text-decoration: none;
      padding: 0.5rem;
      color: map-get($color, color-black);
    }

    i {
      padding: 0.5rem;
    }
  }
}
